*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    color: #023047;
    display: flex;
    flex-direction: column;
    background-color: #add8e6;
    height: 100vh;  
}

/* Start van Nav */
 
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul{
    justify-content: center;
    list-style-type: none;
    display: flex;
}

li a{
    display: block;
    color: #023047;
    text-align: center;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

li a:hover {
    color: #add8e6;
    background-color: #023047;
    border-radius: 10%;
} 

nav .logo{
    max-width: 4%;
    max-height: 4%;
    padding: 1rem;
}

/* Einde van Nav */

/* Begin van Main */

main{
    margin-top: 2rem;
}

h1{
    text-align: center;
    background-image: linear-gradient(-355deg,blue 0%,yellow 40%,red 80%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 9s linear infinite;
}

@keyframes textclip {
    to { 
        background-position: 200% center;
    }
}

/* Begin Index Pagina */

.bewegendevlag{
    background-image: url(images/roemeensevlag2.jpg);
    min-height: 550px;
    background-attachment: fixed;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welkomtekst{
    margin-top: 5rem ;
    margin-left: 24rem;
    margin-right: 24rem;
    margin-bottom: 5rem;
    background-color: #e9eaec;
    border-color: #023047;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Einde Index Pagina */
/* Begin About Pagina */

.about {
    display: flex;
    justify-content: space-between;
}

.about div{
    width: 30%;
    height: 100%;
    background-color: #e9eaec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;    
    margin-bottom: 4.5rem;
}

.about div ol{
    padding-left: 2rem;
}

.about img{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.about p{
    margin-bottom: 1rem;
}

.about h2{
    text-align: center;
}

/* Einde About Pagina */
/* Begin Cultuur Pagina */

.cultuur {
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    padding: 3rem;
    background-color: #e9eaec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cultuur div {
    width: 47%;
}

.cultuur div:first-of-type {
    flex-wrap: wrap;
}

.cultuur div:first-of-type img {
    width: 49%;
}

.cultuur p{
    margin-bottom: 1rem;
}

/* Einde Cultuur Pagina */
/* Begin Bezienswaardigheden Pagina */

.bezienswaardigheden{
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;    
    margin-bottom: 3rem;
    background-color: #e9eaec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    padding-bottom: 3rem;
}

.bezienswaardigheden img{
    height: 100%;
    width: 100%;
    padding: 2em;
}

.bezienswaardigheden div{
    width: 25%;
}

.beztekst {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s;
    background-color: #ffffffbe;
    color: #023047;
    padding: 3rem;
    padding-top: 4rem;
}

.bezcontainer {
    position: relative;
  }

.bezcontainer:hover .beztekst {
    opacity: 1;
}

.bezcontainer h2 {
    text-align: center;
}

/* Einde Bezienswaardigheden */
/* Einde van Main */

/* Begin van Footer */

footer{
    border: 1rem;
    color:#fbfbfb;
    background-color: #023047;
    text-align: center;
    display: flex;
    justify-content: space-around;
    top: auto;  
}

/* Einde van Footer */